* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #051321;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40rem;
}

.card-bio {
  background-color: #45a564;
  padding: 3rem 3rem 8rem 3rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
  z-index: 100;
}

.img-wrapper {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.person-info {
  width: 60%;
  font-family: "Dosis", serif;
  color: #fff;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.person-info h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.person-info p {
  font-size: 1.8rem;
}

.card-cv {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.card-cv:hover {
  background-color: #2196F3;
  color: #fff;
}

.card-cv-icon-download {
  margin-right: 5px;
}

.card-btn {
  position: absolute;
  bottom: -2.5rem;
  right: 10rem;
  width: 20rem;
  height: 6rem;
  background-color: #2b303a;
  color: #fff;
  border-radius: 5rem;
  border: none;
  font-family: "Dosis", serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.change .card-btn {
  width: 6rem;
  right: 3rem;
  bottom: -3rem;
  border-radius: 50%;
}

.card-btn-contact {
  transition: all 0.5s 0.1s;
}

.card-btn-contact,
.card-btn i {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change .card-btn-contact {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.card-btn i {
  opacity: 0;
  visibility: hidden;
}

.change .card-btn i {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.card-contact {
  background-color: #2d814d;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.change .card-contact {
  transform: translateY(0);
}

.card-contact h4 {
  font-family: "Dosis", serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s;
}

.change .card-contact h4 {
  transform: scale(1);
}

.card-social {
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.email {
  transition: all 0.5s 0.3s;
}

.fb {
  transition: all 0.5s 0.5s;
}

.Whatsapp {
  transition: all 0.5s 0.7s;
}

.telegram{
  transition: all 0.5s 0.9s;
}

.facebook{
  transition: all 0.5s 1.1s;
}

.linkedin{
  transition: all 0.5s 1.3s;
}

.github{
  transition: all 0.5s 1.6s;
}

.sarhne{
  transition: all 0.5s 1.9s;
}


.change .card-social {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.icon-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.email .icon-wrapper {
  background-color: #dd4b39;
}

.fb .icon-wrapper {
  background-color: #3b5998;
}

.Whatsapp .icon-wrapper {
  background-color: #007bb6;
}

.telegram .icon-wrapper {
  background-color: #31A8E0;
}

.facebook .icon-wrapper {
  background-color: #087CEA;
}

.linkedin .icon-wrapper {
  background-color: #0A66CE;
}

.github .icon-wrapper {
  background-color: #000;
}

.sarhne .icon-wrapper {
  background-color: #F1776C;
}

.icon-wrapper i {
  font-size: 2rem;
  color: #fff;
}

.contact-details h4 {
  font-family: "Dosis", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.email h4 {
  color: #dd4b39;
}

.fb h4 {
  color: #3b5998;
}

.Whatsapp h4 {
  color: #007bb6;
}

.telegram h4{
  color: #31A8E0;
}

.facebook h4{
  color: #087CEA;
}

.linkedin h4{
  color: #0A66CE;
}

.github h4{
  color: #000;
}

.sarhne h4{
  color: #F1776C;
}

.contact-details p {
  font-family: "Dosis", serif;
  font-size: 1.4rem;
  color: #444;
  letter-spacing: 0.1rem;
}

.card-social .contact-details-icon-container {
  margin-left: auto;
  font-size: 2rem;
  font-weight: bold;
  color: #999;
}

.contact-details-icon {
  font-size: 2.5rem;
  /* background-color: #000; */
  color:#000;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.contact-details-icon:hover {
  background-color: #2196F3;
  color:#fff;
}



/* start toast section */


/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --dark: #78fad1;
  --light: #ffffff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
  --random: #eb43ff;
}

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 99999999;
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 300px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
/* .toast.success::before,
.btn#success {
  background: var(--success);
} */
.toast.error::before,
.btn#error {
  background: var(--error);
}
.toast.warning::before,
.btn#warning {
  background: var(--warning);
}
.toast.info::before,
.btn#info {
  background: var(--info);
}
.toast.random::before,
.btn#random {
  background: var(--random);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: var(--success);
}
.toast.error .column i {
  color: var(--error);
}
.toast.warning .column i {
  color: var(--warning);
}
.toast.info .column i {
  color: var(--info);
}
.toast.random .column i {
  color: var(--random);
}
.toast .column span {
  font-size: 1.5rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}
/* .buttons .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
  color: var(--light);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
} */

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
  .buttons .btn {
    margin: 0 1px;
    font-size: 1.8rem;
    padding: 8px 15px;
  }
}
/* end toast section */